* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    height: 100vh;

}
/* --- TAMAÑO DE ICONOS ---- */
.icon_s{
    font-size: 14pt;
}
.icon_m{
    font-size: 18pt;
}
.icon_l{
    font-size: 26pt;
}

header {
    height: 70%;
    width: 100%;
    background-color: red;

    .portada {
        height: 70%;
        width: 100%;
        background-color: aqua;
        position: relative;


        .imagen-resto {
            height: 100%;
            width: 100%;
            background-color: aquamarine;

            img {
                height: 100%;
                width: 100%;

            }
        }

        .saludo {
            position: absolute;
            bottom: 50px;
            left: 20px;
            height: 100px;
            width: calc(100% - 40px);

        }

        .buscador {
            position: absolute;
            height: 40px;
            width: 90%;
            left: 5%;
            background-color: white;
            bottom: -20px;
            display: flex;


            .ubicacion {
                height: 40px;
                width: 40px;
                background-color: red;
            }



            input[type=search] {
                height: 40px;
                width: calc(100% - 80px);
            }

            input[type=submit] {
                height: 40px;
                width: 40px;
                background-color: red;

            }
        }

    }

    .categoria {
        height: 30%;
        width: 100%;
        padding: 5%;
        background-color: rgb(236, 234, 234);
        padding-top: 40px;
        display: flex;
        gap: 90px;
        overflow: hidden;
        overflow-x: scroll ;

        .items-cat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
        }
    }

}

main {
    height: 30% auto;
    width: 100%;
    background-color: red;
    padding: 10px;

    .resultado {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;


        article.resto {
            height: 200px;
            width: 100%;
            background-color: red;
            color: white;
            font-size: 30pt;
            position: relative;

            .img-resto {
                background-color: yellow;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }

            .desc-resto {
                background-color: white;
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-radius: 0 0 0 20px;
                box-shadow: 0 0 15px -2px black;

            }

            .punto-resto {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: aquamarine;
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -7px;
                top: -7px;
                border-radius: 10px 0;
                box-shadow: 0 0 15px -2px black;
            }

        }

    }

}

@media (orientation: landscape) {


    main {

        .resultado {
            flex-direction: row;
            flex-wrap: wrap;

            .resto {
                /*flex-grow: 0;*/
                /*flex-shrink: 0;*/
                /*flex-basis: 50%;*/
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }
    }



}