* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

header {
    height: 70%;
    width: 100%;
    background-color: red;

    .portada {
        height: 70%;
        width: 100%;
        background-color: aqua;
        position: relative;


        .imagen-resto {
            height: 100%;
            width: 100%;
            background-color: beige;

             img{
                height: 100%;
                width: 100%;

             }
        }

       /* .saludo {
            position: absolute;
            height: 100px;
            width: 200px;
            background-color: chocolate;
        }*/

        .buscador {
            position: absolute;
            height: 40px;
            width: 90%;
            left: 5%;
            background-color: white;
            bottom: -20px;
            display: flex;


            .ubicacion{
                height: 40px;
                width: 40px;
                background-color: red;
            }



input[type=search]{
  height: 40px;
  width: calc(100% - 80px);    
}

            input[type=submit]{
                height: 40px;
                width: 40px;
                background-color: red;

            }
        }

    }

    .categoria {
        height: 80%;
        width: 100%;
        background-color: white;
    }

}

main {
    height: 30% auto;
    width: 100%;
    background-color: red;
    padding: 10px;

    .resultado {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;




        article.resto {
            height: 100px;
            width: 100%;
            background-color: red;
            color: white;
            font-size: 30pt;
        }

    }

}

@media (orientation: landscape) {


    main {

        .resultado {
            flex-direction: row;
            flex-wrap: wrap;

            .resto {
                /*flex-grow: 0;*/
                /*flex-shrink: 0;*/
                /*flex-basis: 50%;*/
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }
    }



}